In [6]:
import pandas as pd
# from URL
dfs = pd.read_html("https://docs.google.com/spreadsheets/d/e/2PACX-1vQlEs3FxFPwm-dpvU1YdsfRgsbfT9WdiXJHZm9kJgGTziPnk-y3TWtftbSbxj6Fe_g0NxYgqyVHTVU5/pubhtml?gid=1397577608&amp;single=true&amp;widget=true&amp;headers=false") 
df = dfs [0]
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.drop(df.columns[[0]], axis=1, inplace=True)
df

c:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,retrived_at,province_id,city,state,country,pollution_aqi,polution_main,weather_tp,weather_pr,weather_hu,weather_ws,weather_wd
1,5/2/2023 10:15:27,TH-10,Phra Nakhon,Bangkok,Thailand,86,p2,35,1010,49,3.02,193
2,5/2/2023 10:15:59,TH-11,Bang Phli,Samut Prakan,Thailand,63,p2,33,1011,66,1.54,0
3,5/2/2023 10:16:30,TH-12,Mueang Nonthaburi,Nonthaburi,Thailand,88,p2,34,1011,58,2.06,160
4,5/2/2023 10:17:01,TH-13,Khlong Luang,Pathum Thani,Thailand,76,p2,34,1011,75,2.06,160
5,5/2/2023 10:17:32,TH-14,Ayutthaya,Phra Nakhon Si Ayutthaya,Thailand,92,p2,32,1010,50,2.93,193
...,...,...,...,...,...,...,...,...,...,...,...,...
62,5/2/2023 15:18:32,TH-16,Ban Mi,Lop Buri,Thailand,64,p2,38,1005,32,4.39,178
63,5/2/2023 15:19:03,TH-20,Na Kluea,Chon Buri,Thailand,68,p2,32,1007,65,5.47,213
64,5/2/2023 15:19:34,TH-21,Ban Khai,Rayong,Thailand,42,p2,32,1008,68,4.28,187
65,5/2/2023 15:20:05,TH-50,Chiang Mai,Chiang Mai,Thailand,68,p2,37,1007,30,3.6,190
66,5/2/2023 15:20:36,TH-52,Hang Chat,Lampang,Thailand,86,p2,32,1007,56,1.86,307

In [36]:
df.to_csv('result.csv', index=False)